/home/bogdan/Desktop/SGBD/SGBD Proiect B.I _Z.N/MISTRIA APP Interface/build/
/home/bogdan/Desktop/SGBD/SGBD Proiect B.I _Z.N/MISTRIA APP Interface/nbproject/
/home/bogdan/Desktop/SGBD/SGBD Proiect B.I _Z.N/MISTRIA APP Interface/dist/
